/* Section styles */

.section-showcase {
    margin-top: 6em;
    padding-bottom: 5em;
    img {
        width: 100%;
    }
    @media (max-width: 700px) {
        margin: 0;
        padding-bottom: 3em;
    }
    @include mobile-font;
    &__content {
        margin-top: 2em;
    }
}

.section-newsfeed {
    padding-bottom: 5em;
    p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    article {
        margin-bottom: 2em;
    }
    .monospace {
        margin-bottom: 1em;
    }
    &__header .container {
        @extend %flex-center;
        align-content: space-around;
        padding: 4% 0 2%;
        border-top: 5px solid $secondary-color;
        .more-news {
            color: $secondary-color;
            float: right;
        }
    }
    &__articles .wrapper {
        padding-right: 5%;
    }
    img[alt="Google Design New"] {
        margin-bottom: 1.5em;
        width: 100%;
    }
    .newsletter {
        @extend %flex-center;
        margin-top: 2em;
        padding: 4% 5%;
        background-color: #f9f9f9;
    }
}

.more-articles {
    border-top: 5px solid $secondary-color;
    padding: 4% 0 0;
    .wrapper:first-child {
        padding-right: 2.5%;
    }
    .wrapper:last-child {
        padding-left: 2.5%;
    }
    img {
        width: 100%;
        margin-bottom: 1.2em;
    }
    .link {
        display: flex;
        align-items: center;
        img {
            width: 4%;
            float: left;
            margin: 0;
        }
    }
    .asana {
        display: flex;
        align-items: center;
        div:first-child {
            margin-right: 3%;
        }
    }
}

.brand-recognition {
    padding-bottom: 5em;
    p {
        margin-top: 0;
        margin-bottom: 1em;
    }
    article {
        margin-bottom: 2em;
    }
    .monospace {
        margin-bottom: 1em;
    }
    &__header .container {
        @extend %flex-center;
        align-content: space-around;
        padding: 4% 0 2%;
        border-top: 5px solid $secondary-color;
        .extras {
            color: $secondary-color;
            float: right;
        }
    }
    &__articles {
        padding-left: 5%;
    }
    &__articles:first-child {
        padding: 0;
    }
    img {
        margin-bottom: 1.5em;
        width: 100%;
    }
}