/* Grid */
@media (min-width: 0) {
  .col-xs-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
@media (min-width: 768px) {
  .col-s-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
@media (min-width: 992px) {
  .col-m-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
@media (min-width: 1200px) {
  .col-l-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
/* Base Styles*/
body {
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  color: #414549; }

a {
  color: #333; }

ul,
li {
  list-style: none;
  display: inline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 0.5em; }

.monospace {
  margin-top: 1em;
  font-family: monospace; }

h3 {
  margin-bottom: 1em; }

/* Grid */
@media (min-width: 0) {
  .col-xs-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-xs-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
@media (min-width: 768px) {
  .col-s-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-s-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
@media (min-width: 992px) {
  .col-m-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-m-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
@media (min-width: 1200px) {
  .col-l-1 {
    width: 8.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-2 {
    width: 16.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-5 {
    width: 41.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-7 {
    width: 58.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-8 {
    width: 66.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-10 {
    width: 83.33333%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-11 {
    width: 91.66667%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; }

  .col-l-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: -1.4px; } }
/* Reset styles */
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  position: relative;
  margin: 0 5%; }

a {
  text-decoration: none; }

/* Carousel */
/* Section styles */
.section-showcase {
  margin-top: 6em;
  padding-bottom: 5em; }
  .section-showcase img {
    width: 100%; }
  @media (max-width: 700px) {
    .section-showcase {
      margin: 0;
      padding-bottom: 3em; } }
  @media (max-width: 700px) {
    .section-showcase h1 {
      font-size: 1.3em; }
    .section-showcase h3 {
      font-size: 1em; }
    .section-showcase p {
      font-size: 0.9em; } }
  .section-showcase__content {
    margin-top: 2em; }

.header .container, .footer__bot {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  text-align: center;
  margin-top: 4em; }
  .header .container {
    flex-wrap: wrap; }
    .header .container li {
      margin-right: 2%; }
    .header .container li:last-child {
      margin: 0; }
    .header .container a {
      color: #424242; }
  .header img[alt="Logo google design"] {
    margin-bottom: 1.5em;
    width: 28%; }
  @media (max-width: 700px) {
    .header img[alt="Logo google design"] {
      width: 70%; } }
  .header img[alt="search icon"] {
    position: absolute;
    right: 0; }
    @media (max-width: 460px) {
      .header img[alt="search icon"] {
        display: none; } }
  @media (max-width: 460px) {
    .header__nav {
      display: none; } }

.footer ul li {
  display: block; }
.footer__top .container {
  border-top: 5px solid #4285f4;
  padding: 5% 0; }
@media (max-width: 460px) {
  .footer__discover {
    display: none; } }
@media (max-width: 460px) {
  .footer__social {
    display: none; } }
.footer__social .col-m-2 {
  margin-right: 2em; }
.footer__bot {
  box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  margin-right: 2em;
  padding: 4% 5%; }

/*# sourceMappingURL=main.css.map */
